PORT=3000
NODE_ENV=development
APP_NAME=leadconnector-feegow-api

FEEGOW_BASE_URL=https://api.feegow.com/v1/api
FEEGOW_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJmZWVnb3ciLCJhdWQiOiJwdWJsaWNhcGkiLCJpYXQiOjE3NzQ5MDI2MDQsImxpY2Vuc2VJRCI6MTAwMjc2MX0.wY9H9ROe_5qo6Q-8dBck7TRpiDapT_7fu882e9MfddU

LEADCONNECTOR_BASE_URL=https://services.leadconnectorhq.com
LEADCONNECTOR_ACCESS_TOKEN=coloque_seu_token_aqui
LEADCONNECTOR_LOCATION_ID=coloque_o_location_id_aqui